.container1{
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    background-color: blue;
    
}

.container1 div {
    padding: 10px;
    color: white;
}
.container2{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    
}

.container2 div {
    padding: 10px;

}

.container2 div:hover {
    padding: 10px;
    background-color: blue;
    cursor: pointer;
    border-bottom: 3px solid darkblue;

}
.container3{
    display: flex;
    justify-content: space-around;
    background-color: red;
}
.container3 div {
    padding: 5px;
    color: white;

}
.holder{
    padding: 0px 20px 20px 20px;
    display: center;
    border: 4px solid black
    ;


}
.container4{
    display: flex;
    justify-content: space-between;
    background-color: red;
}
.container4 div {
    padding: 5px;
    color: white;

}